*.log
Site/wp-config.php
Site/wp-content/advanced-cache.php
Site/wp-content/backup-db/
Site/wp-content/backups/
Site/wp-content/blogs.dir/
Site/wp-content/cache/
Site/wp-content/upgrade/
Site/wp-content/uploads/
Site/wp-content/mu-plugins/
Site/wp-content/wp-cache-config.php
Site/wp-content/plugins/hello.php

Site/.htaccess
Site/license.txt
Site/readme.html
Site/sitemap.xml
Site/sitemap.xml.gz

Software/node_modules
# index2.html